{% extends 'base.html' %}

{% block content %}
    <h1>Posts by: {{user.username}} </h1>
   
    <br />
    {% for post in posts.all %}
        <table>
            <tr>
                <td style="padding-right: 20px; text-align: center;"><a href="#" onclick="document.getElementById('thumbsUp{{ post.id }}').submit()"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                    <br/> {{ post.votes_total }}<br/>
                    <a href="#" onclick="document.getElementById('thumbsDown{{ post.id }}').submit()"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                </td>
                <td>
                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                    {{ post.pub_date_pretty }} 
                </td>
            </tr>
       </table>
       <!-- with GET method, browser read & execute url even before hitting enter, so it end up executing multiple
           time when use actually hit enter. So, it execute only once need to be POST method
        -->
        <!-- These forms are called by above <a> tag onclick() -->
        <form id="thumbsUp{{ post.id }}" method="POST" action="{% url 'posts:upvote' post.id %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
        <form id="thumbsDown{{ post.id }}" method="POST" action="{% url 'posts:downvote' post.id %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    
    {% endfor %}

{% endblock %}

